/*
.intro {
    display: flex;
}
*/

body {
    margin: 0;
    height: 100vh;
    
}

.header, .intro, .footer {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
}

.header, .intro, .information-bar, .quote, .action, .footer{
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

p {
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 10px;
    font-size: 16px;
}

ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.header-links {
    margin-left: auto;
}

.image-holder {
    border: 1px solid grey;
    background: lightgray;
    border-radius: 4px;
    width: 400px;
    height: 150px;
    text-align: center;
    align-content: center;
}

.awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.card {
    border: 1px solid blue;
    border-radius: 4px;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}

.intro-image {
    margin-left: auto;
}

.sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px;
    border-radius: 8px;
    width: 80px;
    font-weight: 600;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-card-container {
    display: flex;
    justify-content: space-around;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 50px;
}

.quote-author {
    align-self: flex-end;
}

.action {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 4px;
    margin: 40px 80px;
    color: #e5e7eb;
    font-weight: 400;
    font-size: 20px;
}

.footer {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
}



